BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-poky \
  ##OEROOT##/meta-yocto-bsp \
  ##OEROOT##/../meta-openembedded/meta-oe \
  ##OEROOT##/../meta-openembedded/meta-python \
  ##OEROOT##/../meta-openembedded/meta-networking \
  ##OEROOT##/../meta-openembedded/meta-multimedia \
  ##OEROOT##/../meta-qt5 \
  ##OEROOT##/../meta-xilinx/meta-xilinx-core \
  ##OEROOT##/../meta-xilinx/meta-xilinx-bsp \
  ##OEROOT##/../meta-xilinx/meta-xilinx-standalone \
  ##OEROOT##/../meta-xilinx-tools \
  ##OEROOT##/../meta-kria \
  ##OEROOT##/../meta-alvium-avt \
  ##OEROOT##/../meta-alvium-bitstream \
"